{% extends 'twitter/layout.html' %}

{% block content %}
<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-jumbo-v4.jpg?quality=90&auto=webp"
                alt="twitter logo">
            <h1>Registrate en Twitter</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="first_name">First Name</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <div class="error">{{ form.first_name.errors }}</div>
                {% endif %}
            </div>
            <div class="input-wrapper">
                <label for="username">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="input-wrapper">
                <label for="email">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="input-wrapper">
                <label for="password1">Password</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div class="input-wrapper">
                <label for="password2">Confirm Password</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>

            <button class="twitter-btn">Registrarse</button>
        </form>

        <div class="footer">
            <a href="{% url 'login' %}">¿Ya tienes una cuenta? Login</a>
        </div>

    </div>

    {% endblock content %}